<%- include('partials/header') %>

<h1 class="mb-4">Página para adicionar coleções</h1>
<p>Em breve aqui você poderá criar suas coleções personalizadas!</p>

<a href="/colecoes" class="btn btn-primary mt-3">
  <i class="bi bi-arrow-left"></i> Voltar para Coleções
</a>

<%- include('partials/footer') %>