<%- include('partials/header') %>

  <div class="container-fluid bg-dark text-light py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h1 class="display-4 fw-bold text-warning"> Explorar m칰sicas postadas 游꿚</h1>
         <p> </p>
        </div>

  <!--os cards n abrem ainda, so nas proximas versoes :|-->

   <input type="text" id="searchInput" class="form-control mb-4" placeholder="Pesquisar m칰sicas ou usu치rios...">

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 ">

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/lana.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Fuck it I love you</h5>
            <h6 class="card-subtitle text-muted"> @SaraGrant</h6>
            <p class="card-text mt-2">
              Apenas essa!
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/port.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Numb</h5>
            <h6 class="card-subtitle text-muted"> @oliviaa_cults</h6>
            <p class="card-text mt-2">
             Esse 치lbum 칠 espetacular, e numb 칠 de outro mundo
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/sombr.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Undressed</h5>
            <h6 class="card-subtitle text-muted"> @brwndag</h6>
            <p class="card-text mt-2">
              "And I don't wanna learn another scent. I don't want the children of another man. To have the eyes of the girl that I won't forget..."
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/portals.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Void</h5>
            <h6 class="card-subtitle text-muted"> @crybaby</h6>
            <p class="card-text mt-2">
              "Melanie cria mundos. Essa m칰sica me faz sentir como se estivesse flutuando"
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/soad.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Jet Pilot</h5>
            <h6 class="card-subtitle text-muted"> @anneliz</h6>
            <p class="card-text mt-2">
              ???? 10
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/tbends.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Fake Plastiic Tree</h5>
            <h6 class="card-subtitle text-muted"> @olivv.fm</h6>
            <p class="card-text mt-2">
             "If I could be who you wanted"
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/brat.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">B2b</h5>
            <h6 class="card-subtitle text-muted"> @witzor</h6>
            <p class="card-text mt-2">
              BRAT
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/ev.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Going Under</h5>
            <h6 class="card-subtitle text-muted"> @brwndag</h6>
            <p class="card-text mt-2">
              I'm falling forever
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/chap.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">The Subway</h5>
            <h6 class="card-subtitle text-muted"> @brunaRoan</h6>
            <p class="card-text mt-2">
              Lan칞a essa, chappel
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm d-flex flex-column">
        <img src="/images/chico.jpg" class="card-img-top" alt="Capa do 치lbum">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <h5 class="card-title">Cotidiano</h5>
            <h6 class="card-subtitle text-muted"> @mpbload</h6>
            <p class="card-text mt-2">
              Absurda
            </p>
          </div>
          <button class="btn btn-outline-success btn-sm curtir-btn mt-3">游눜 Curtir</button>
        </div>
      </div>
    </div>
    
     <p>  </p> <p>  </p> <p>  </p> <p>  </p>  <p>  </p>

  </div>
</div>

<script>
  document.querySelectorAll('.curtir-btn').forEach(btn => {
    btn.addEventListener('click', () => {
      btn.classList.toggle('btn-outline-success');
      btn.classList.toggle('btn-success');
      btn.textContent = btn.textContent.includes('Curtido') ? '游눜 Curtir' : '游눜 Curtido';
    });
  });

  document.getElementById('searchInput').addEventListener('input', e => {
  const termo = e.target.value.toLowerCase();
  document.querySelectorAll('.card').forEach(card => {
    const txt = card.innerText.toLowerCase();
    card.closest('.col').style.display = txt.includes(termo) ? 'block' : 'none';
  });
});
</script>

<%- include('partials/footer') %>